/* De webbrowser moet minimaal in het geheel bedekt zijn met opgestelde pagina. */
body, html {
    height: 100%;
    margin: 0px;
    font-family: Tahoma, Verdana;
}
footer {height: 100px;}
header {
    height: 200px;
    background-color: #e86c12;
}
/* De tekst als inhoud centreren in zowel header als footer. */
footer, header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
a {text-decoration: none;}
a.groep_links:hover, a.groep_links_blog:hover {
    background-color: #f7d505;
    color: #000000;
}
/* Om de tekst beter te kunnen centreren in zowel header als footer worden alle marges weggehaald.*/
h1, h4 {margin: 0px;}
/* De tekst moet aangepast worden. */
h6 {color: gray;}
table, td, th {
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
}
td, th {padding: 5px;}
/* Om alle blogartikelen te kunnen bereiken om ze dezelfde procedure te kunnen toepassen. */
[id*="blog_"], [id*="blogdetail_"] {
    vertical-align: top;
    border-radius: 5px;
    /* Een witruimte rondom een blogartikel creëren. */
    margin: 10px;
}
[id*="blog_"] {cursor: pointer;}
[id*="blog_"]:hover {background-color: #ebedec;}
#beheer, #blog {
    width: 100%;
    text-align: center;
}
#beheerpagina {
    text-align: left;
}
#button_verzenden {
    margin: 12px 0px 15px 0px;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 5px;
}
#button_verzenden:hover {
    cursor: pointer;
    background-color: #e86c12;
}
#container_1, #container_2 {
    position: absolute;
    width: 100%;
    /* De container moet onder header staan. */
    top: 200px;
}
/* Bestemd voor de pagina's zonder buttons in het grijze gedeelte. */
#container_1 {
    /* De container moet boven footer staan. De totale hoogte is 5px van '#lijn' en 150px van footer. */
    bottom: 155px;
}
/* Bestemd voor de pagina's met buttons in het grijze gedeelte. */
#container_2 {
    /* De container moet boven footer staan. De totale hoogte is 5px van '#lijn', 150px van footer, -1px (zie hieronder bij @) en ?px van "nav_hoogte_grijs". De CSS-variabele "nav_hoogte_grijs" is gecreëerd in JS-document "overzichtspagina". */
    bottom: calc(5px + 150px + var(--nav_hoogte_grijs) - 1px);
}
/* Het zwevende div-element "icon" waarin de icoon "icon_laden" zit. */
#icon {
    position: relative;
}
/* De icoon "icon_laden" centraal uitlijnen op het scherm. */
#icon_laden {
    display: none;
    position: fixed;
    top: 42%;
    left: 45%;
    width: 100px;
    background-color: #f7d505;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
#lijn {
    height: 5px;
    background-color: #f7d505;
}
#tabel_blogs {text-align: center;}
.achtergrond_bruin {background-color: #b6510e;}
.achtergrond_grijs {background-color: #9c9a97;}
.achtergrond_roze {background-color: #f3b58a;}
.afbeelding_lk {
    width: 100%;
    border-radius: 5px;
}
.afbeelding_rk {
    width: 40%;
    border-radius: 5px;
}
.blog_afbeelding {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.blog_afbeelding_aangepast {
    width: 26%;
    margin: 20px;
    border-radius: 5px;
    float: left;
}
/* @) De bovenste en onderste marge moeten ook ingevuld zijn, anders is er een witte marge tussen de twee kolommen bij kleinste schermgrootte wat niet fraai uitziet. */
.inhoud_2 {padding: 1px 15px;}
.invoerveld {
    display: block;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    margin: 5px 0px;
    padding: 5px 0px 5px 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
}
.link {padding-right: 25px;}
.links {
    float: left;
    padding: 25px;}
.rechts {
    float: right;
    padding: 25px;}
.tekst_bruin {color: #b6510e;}
.tekst_links {text-align: left;}
.tekst_schuin {font-style: italic;}
.tekst_verkorten {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.tekst_vet {font-weight: bold;}
.tekst_wit {color: #ffffff;}
/* Weergave in het scherm van alle smartphones, dus volgens principe: from smallest (mobile) to biggest screen (monitor). */
@media only screen and (min-width: 0px){
    /* De buttons onder elkaar rangschikken. */
    a {
        display: block;
        text-align: center;
        padding: 15px;
    }
    h1 {font-size: 30px;}
    [id*="blog_"] {
        display: block;
    }
    /* Dit zorgt ervoor dat de buttons in het grijze gedeelte verborgen blijven bij een kleine schermgrootte. Het is handig om deze buttons te gebruiken vanf een normale schermgrootte vanwege overzicht en duidelijkheid. */
    .verbergen {
        display: none;
    }
}
/* Is de schermgrootte groter dan minimumgrens van 768px, dan moet de weergave aangepast worden aan het scherm. De bovenste mediaquery wordt ook gelijktijdig uitgevoerd. Want de minimale schermgrootte van 0px is reeds overschreden als de schermgrootte van 768px is.*/
@media only screen and (min-width: 768px){
    /* De buttons naast elkaar rangschikken. */
    a {display: inline-block;}
    a.groep_links:hover {
        border-radius: 10px 10px 0px 0px;
        padding-top: 10px; 
    }
    a.groep_links_blog:hover {
        border-radius: 0px 0px 10px 10px;
        padding-bottom: 10px;
    }
    h1 {font-size: 35px;}
    [id*="blog_"] {
        display: inline-block;
        margin-left: 0px;
        margin-top: 0px;
    }
    #inhoud_1 {
        /* Dit zorgt ervoor dat beide kolommen even lang blijven ongeacht de inhoud. */
        display: flex;
        /* Dit zorgt ervoor dat de footer altijd aan de onderkant van container blijft staan. */
        min-height: 100%;
    }
    /* Een witruimte aan de zijkanten van blogartikel creëren. */
    .col-01 {width: calc((100%/12)*1)}
    .col-02 {width: calc((100%/12)*2)}
    .col-03 {width: calc((100%/12)*3)}
    .col-04 {width: calc((100%/12)*4)}
    .col-05 {width: calc((100%/12)*5)}
    .col-06 {width: calc((100%/12)*6)}
    .col-07 {width: calc((100%/12)*7)}
    .col-08 {width: calc((100%/12)*8)}
    .col-09 {width: calc((100%/12)*9)}
    .col-10 {width: calc((100%/12)*10)}
    .col-11 {width: calc((100%/12)*11)}
    .col-12 {width: calc((100%/12)*12)}
    .verbergen {display: block;}
}
/* Is de schermgrootte groter dan minimumgrens van 992px, dan moet de weergave aangepast worden aan het scherm. */
@media only screen and (min-width: 992px){
    h1 {font-size: 40px;}
    .afbeelding_rk, .blog_afbeelding_aangepast { width: 250px;}
}
/* Is de schermgrootte groter dan minimumgrens van 1200px, dan moet de weergave aangepast worden aan het scherm. */
@media only screen and (min-width: 1200px){
    h1 {font-size: 45px;}
}